<nav class="navbar box-shadow app-header" [class.fixed-top]="settings.theme.navbarIsFixed" [class.logo-visible]="showInfoContent">
    <div class="d-flex flex-column w-100">

        <div class="d-flex justify-content-start align-items-center top-navbar">


            <div class="top-rigth-icons ml-auto">

                <span class="d-none d-sm-inline-block">Profile
                    <app-user-menu></app-user-menu>
                </span>
            </div>

        </div>

        <div class="horizontal-menu-outer" *ngIf="settings.theme.menu == 'horizontal'">                   
            <app-horizontal-menu *ngIf="showHorizontalMenu"  [menuItems]="menuItems"></app-horizontal-menu>
        </div>

    </div>
</nav>
